language: python
python: 
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install -r requirements.txt
script:
  - python unittests.py
  - python apitests.py
  - python setup.py build
  - python setup.py sdist bdist_wheel